extends ../layout

block content
  section.hero
  section.page
    .container
      nav.nav
        ul.nav-left
          li.nav__item
            a.nav__item-link(ui-sref="auth.home", ui-sref-active="nav__item-link_active") Posts
          li.nav__item
            a.nav__item-link(ui-sref="auth.addpost", ui-sref-active="nav__item-link_active") Add post
        ul.nav-right
          li.nav__item
            a.nav__item-link(ui-sref="auth.friends", ui-sref-active="nav__item-link_active") Add friends
          li.nav__item
            a.nav__item-link(ng-click="auth.logout()", href="#") Log out
        a.logo(ui-sref="auth.home")
          img.logo__img(src="img/logo.jpg")
      h2.greeting
        | Hello,&nbsp;
        a.greeting__link(ng-bind="auth.user.name", ui-sref="auth.user({userId: auth.user.user_id})")
      ui-view
    footer.footer
      p.copyright
        | Copyrights (c)&nbsp;
        a.copyright-link(ui-sref="auth.home") Billboard&nbsp;
        | 2015
