doctype html
html(lang="en", ng-app="billboard")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title billboard
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href="/")
    link(rel="stylesheet", href="bower_components/angular-block-ui/dist/angular-block-ui.min.css")
    link(rel="stylesheet", href="css/main.css")
  body
    block content
    block js
      script(src="bower_components/angular/angular.js")
      script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
      script(src="bower_components/userapp/userapp.client.js")
      script(src="bower_components/userapp-angular/angularjs.userapp.js")
      script(src="bower_components/angular-block-ui/dist/angular-block-ui.min.js")
      script(src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js")
      script(src="js/main.js")
      script(src="js/factory/api.factory.js")
      script(src="js/controller/home/home.controller.js")
      script(src="js/controller/home/home.js")
      script(src="js/controller/friends/friends.controller.js")
      script(src="js/controller/friends/friends.js")
      script(src="js/controller/login/login.js")
      script(src="js/controller/signup/signup.js")
      script(src="js/controller/addPost/addPost.controller.js")
      script(src="js/controller/addPost/addPost.js")
      script(src="js/controller/editPost/editPost.controller.js")
      script(src="js/controller/editPost/editPost.js")
      script(src="js/controller/post/post.controller.js")
      script(src="js/controller/post/post.js")
      script(src="js/controller/user/user.controller.js")
      script(src="js/controller/user/user.js")
