doctype html
html(lang="en", ng-app="billboard")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title billboard
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href="/")
    link(rel="stylesheet", href="bower_components/angular-loading-bar/build/loading-bar.css")
    link(rel="stylesheet", href="css/main.css")
  body
    block content
    block js
      script(src="https://cdn.auth0.com/js/auth0-lock-6.js")
      script(src="bower_components/angular/angular.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular-cookies.js")
      script(src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js")
      script(src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js")
      script(src="https://cdn.auth0.com/w2/auth0-angular-4.js")
      script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
      script(src="bower_components/angular-loading-bar/build/loading-bar.js")
      script(src="js/main.js")
      script(src="js/factory/api.factory.js")
      script(src="js/controller/auth/auth.controller.js")
      script(src="js/controller/auth/auth.js")
      script(src="js/controller/home/home.controller.js")
      script(src="js/controller/home/home.js")
      script(src="js/controller/friends/friends.controller.js")
      script(src="js/controller/friends/friends.js")
      script(src="js/controller/login/login.js")
      script(src="js/controller/login/login.controller.js")
      script(src="js/controller/addPost/addPost.controller.js")
      script(src="js/controller/addPost/addPost.js")
      script(src="js/controller/editPost/editPost.controller.js")
      script(src="js/controller/editPost/editPost.js")
      script(src="js/controller/post/post.controller.js")
      script(src="js/controller/post/post.js")
      script(src="js/controller/user/user.controller.js")
      script(src="js/controller/user/user.js")